streamlit
plotly
backtrader
yfinance
pandas
pandas_datareader
nltk
urllib3
bs4
plotly
pandas_datareader
hydralit
yahooquery
datetime
PyPortfolioOpt
cufflinks
matplotlib==3.2.2
gunicorn

